In [3]:
from rich.console import Console
from rich.table import Table,Column
table = Table(title="Star Wars Movies",show_footer="dsa",show_header=True)
table.add_column("Released", justify="center", style="cyan", no_wrap=True,footer="Dsa")
table.add_column("Title", style="magenta")
table.add_column("Box Office", justify="right", style="green")
table.add_row("Dec 20, 2019", "Star Wars: The Rise of Skywalker", "$952,110,690")
table.add_row("May 25, 2018", "Solo: A Star Wars Story", "$393,151,347")
table.add_row("Dec 15, 2017", "Star Wars Ep. V111: The Last Jedi", "$1,332,539,889")
table.add_row("Dec 16, 2016", "Rogue One: A Star Wars Story", "$1,332,439,889")
console = Console()
console.print(table,justify="center")

                                      Star Wars Movies
            ┏━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━┓
            ┃   Released   ┃ Title                             ┃     Box Office ┃
            ┡━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━┩
            │ Dec 20, 2019 │ Star Wars: The Rise of Skywalker  │   $952,110,690 │
            │ May 25, 2018 │ Solo: A Star Wars Story           │   $393,151,347 │
            │ Dec 15, 2017 │ Star Wars Ep. V111: The Last Jedi │ $1,332,539,889 │
            │ Dec 16, 2016 │ Rogue One: A Star Wars Story      │ $1,332,439,889 │
            ├──────────────┼───────────────────────────────────┼────────────────┤
            │     Dsa      │                                   │                │
            └──────────────┴───────────────────────────────────┴────────────────┘

In [4]:
import random
import time
from rich.live import Live
from rich.table import Table
def generate_table() -> Table:
"""Make a new table."""
    table = Table()
    table.add_column("ID")
    table.add_column("Value")
    table.add_column("Status")
    for row in range(random.randint(2, 6)):
        value = random.random() * 100
        table.add_row(
        f"{row}", f"{value:3.2f}", "[red]ERROR" if value < 50 else "[green]SUCCESS"
        )
    return table
with Live(generate_table(), refresh_per_second=4) as live:
    for _ in range(40):
        time.sleep(0.4)
        live.update(generate_table())

IndentationError: expected an indented block (117641823.py, line 6)